ion-content {
  --background: #f0f0f0; /* Fondo gris claro para todo el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Asegura que ocupe toda la altura de la vista */
  padding: 0 20px; /* Espaciado lateral */
}

form {
  background-color: white; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

ion-item {
  margin-bottom: 15px; /* Espaciado entre los elementos del formulario */
}

ion-title {
  text-align: center; /* Centra el título */
  font-size: 24px; /* Tamaño del texto del título */
  margin-bottom: 15px; /* Espaciado debajo del título */
}

ion-button {
  --background: #2009ea; /* Color del botón coherente con el header */
  margin-top: 10px; /* Espaciado superior */
}

ion-text {
  text-align: center; /* Centra el mensaje de error */
  margin-top: 15px; /* Espacio superior para separar del formulario */
}
