<ion-content>
  <app-header></app-header>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-title>Restablecer Contraseña</ion-title>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">RECUPERAR</ion-button>
  </form>

  <ion-text *ngIf="errorMessage" color="danger">
    <p>{{ errorMessage }}</p>
  </ion-text>
  <app-footer></app-footer>
</ion-content>


