ion-content {
  --background: #f2f2f2; /* Fondo suave */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}
p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #2c3e50;
}

ion-item {
  --highlight-height: 2px;
  --highlight-color-focused: #3498db;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
}

ion-label {
  font-size: 1.2rem;
  color: #34495e;
}

ion-input {
  font-size: 1.2rem;
}

ion-button {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  --background: #3498db;
  --background-hover: #2980b9;
  font-size: 1.2rem;
  padding: 0.8rem;
}

ion-text {
  margin-top: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

a {
  font-size: 1.1rem;
  color: #3498db;
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Ajustar el contenedor para centrar el contenido */
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



