<app-header></app-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>

    <ion-button expand="full" color="medium" (click)="onForgotPassword()">Restablecer Contraseña</ion-button>

    <ion-text color="danger" *ngIf="loginError">{{ loginError }}</ion-text>
  </form>
</ion-content>
<app-footer></app-footer>

