
<app-header></app-header>
<ion-content>
  <ion-title>Detalle de Asignatura: {{ asignatura }}</ion-title>
  <p>Contenido de la asignatura: {{ contenido }}</p>
  <p>Fecha: {{ fecha }}</p>
  <p>Hora: {{ hora }}</p>

  <!-- Mostrar botón para el docente -->
  <ion-button *ngIf="esDocente" expand="full" (click)="generarQR()">Generar Código QR</ion-button>

  <!-- Mostrar botón para el alumno -->
  <ion-button *ngIf="!esDocente" expand="full" (click)="escanearQR()">Escanear Código QR</ion-button>
</ion-content>
<app-footer></app-footer>

