<app-header></app-header>
<div *ngIf="asignatura">
  <h2>Detalles de {{ asignatura.nombre }}</h2>
  <p><strong>Contenido:</strong> {{ asignatura.contenido }}</p>
  <p><strong>Fecha:</strong> {{ asignatura.fecha }}</p>
  <p><strong>Hora:</strong> {{ asignatura.hora }}</p>

  <!-- Opciones para el docente -->
  <div *ngIf="rolUsuario === 'docente'">
    <button (click)="generarCodigoQR()">Generar Código QR</button>
    <div *ngIf="codigoQRGenerado">
      <p>Código QR generado. Los alumnos pueden escanearlo para registrar asistencia.</p>
      <!-- Aquí puedes integrar la visualización del código QR generado -->
    </div>
  </div>

  <!-- Opciones para el alumno -->
  <div *ngIf="rolUsuario === 'alumno'">
    <button (click)="escanearCodigoQR()">Escanear Código QR</button>
    <p>Escanea el código QR proporcionado por tu profesor para registrar tu asistencia.</p>
  </div>
</div>
<app-footer></app-footer>
