ion-content {
  --background: #f0f0f0; /* Fondo gris claro para todo el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Asegura que ocupe toda la altura de la vista */
  padding: 0 20px; /* Espaciado lateral */
}

ion-label {
  font-size: 24px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  margin: 20px 0; /* Margen vertical para separar del contenido */
  text-align: center; /* Centra el texto */
  font-weight: bold; /* Hace que el texto sea más audaz */
}

